@import "../../styles/variables";

.layout {
  padding: 0;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  overflow-y: auto;
}